@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #808080;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: "VT323", monospace;
}

canvas {
    background: #F0F0F0;
    display: block;
    border-radius: 4px;
}

h1 {
    font-size: 48px;
    color: #F0F0F0;

}

.btn {
    cursor: pointer;
    border: 0;
    padding: 8px 16px;
    background: #000000;
    color: #FFFFFF;
    border-radius: 2px;
}

.btn:hover {
    background: #222222;
}

.btn:active {
    transform: scale(0.9);
}

.rules-btn {
    position: absolute;
    top: 30px;
    left: 30px;
}

.rules {
    position: absolute;
    top: 0;
    left: 0;
    background: #333333;
    color: #ffffff;
    min-height: 100vh;
    width: 384px;
    padding: 16px;
    line-height: 1.5;
    transform: translateX(-384px);
    transition: transform 1s ease-in-out;
}

.rules.show {
    transform: translateX(0);
}
