@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: "VT323", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: 0;
    overflow: hidden;
}

h1 {
    margin: 16px 0 0;
}

.game-container {
    padding: 24px 32px;
    position: relative;
    margin: auto;
    height: 320px;
    width: 448px;
}

.figure-container {
    fill: transparent;
    stroke: #000000;
    stroke-width: 4px;
    stroke-linecap: round;
}

.figure-part {
    display: none;
}

.wrong-letters-container {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.wrong-letters-container p {
    margin: 0 0 5px;
}

.wrong-letters-container span {
    font-size: 24px;
}

.word {
    display: flex;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
}

.letter {
    font-size: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 16px;
    margin: 0 2px;
    border-bottom: 2px solid #848484;
}

.popup-containter popup {
    align-items: center;
}
