@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: "VT323", monospace;
}

.figure-container {
    fill: transparent;
    stroke: #000000;
    stroke-width: 4px;
    stroke-linecap: round;
}

.figure-part {
    display: none;
}
