@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #d8d8d8;
    color: #A03030;
    font-family: "VT323", monospace;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    margin: 0;
}

.select img {
    width: 96px;
    height: 96px;
    object-fit: contain;
}

.screen {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: margin 0.5s ease-in;
}

.btn {
    border: 0;
    background-color: #A03030;
    color: #d8d8d8;
    padding: 16px 24px;
    cursor: pointer;
    font-family: "VT323", monospace;
}

.btn:hover {
    opacity: 0.9;
}

.screen.up {
    margin-top: -100vh;
}

a {
    color: #d8d8d8;
}
h1 {
    line-height: 1.4;
}

/* LIST OF INSECTS */
.insects-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0px;
}
.insects-list li {
    margin: 8px;
}

/* SELECT CRITTER */
.select {
    background-color: transparent;
    border: 2px solid #D05045;
    color: #D05045;
    font-family: "VT323", monospace;
    width: 128px;
    height: 128px;
}
.select:hover {
    background-color: #D05045;
    color: #d8d8d8;
}
.select:active {
    background-color: #A03030
}

.game-container {
    position: relative;
}
.time {
    position: absolute;
    top: 16px;
    left: 16px;
}
.score {
    position: absolute;
    top: 16px;
    right: 16px;
}

/* TAUNT */
.message {
    line-height: 1.5;
    width: 100%;
    background-color: rgba(16,0,4,0.5);
    z-index: 5;
    padding: 16px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, 150%);
    transition: transform: 0.5s ease-in
}

.message.visible {
    opacity: 1;
    transform: translate(-50%, 150%);
}

.insect {
    cursor: pointer;
    display: flex;
    justify-items: center;
    justify-content: center;
    width: 96px;
    height: 96px;
    top: 128px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.5s ease-in-out;
}

